/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

/* Horizontal combos - left hand */
ZMK_COMBO(esc,   &kp ESC,      LT3 LT2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(ret,   &kp RETURN,   LT2 LT1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(mouse, &smart_mouse, LT3 LT1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(sym,   &to_sym,      LH2 RH2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

// Combos overlapping HRMs are set up as hold-taps themselves to allow for instantaneous
// chording of mods. Custom hold-tap instances can be bootstrapped on the go using the
// 8-argument version of ZMK_COMBO defined in base.keymap.
ZMK_COMBO(tab,   &hml LS(LALT)TAB, LM3 LM2, DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(ldr,   &leader,      LM2 LM1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST, LS(LCTRL),    KEYS_R)
ZMK_COMBO(ldrsh, &leader_sft,  LM3 LM2 LM1, DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST, LS(LC(LALT)), KEYS_R)

ZMK_COMBO(cut,   &kp LC(X),    LB3 LB1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(copy,  &kp LC(INS),  LB3 LB2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(paste, &kp LS(INS),  LB2 LB1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

/* Horizontal combos - right hand */
ZMK_COMBO(bspc,  &kp BSPC,     RT1 RT2,     DEF NAV NUM SYM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(del,   &kp DEL,      RT2 RT3,     DEF NAV NUM SYM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

ZMK_COMBO(lpar,  &lpar_lt,     RM1 RM2,     DEF     NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST, RS(LCTRL),    KEYS_L)
ZMK_COMBO(rpar,  &rpar_gt,     RM2 RM3,     DEF     NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST, RS(LALT),     KEYS_L)
ZMK_COMBO(lt,    &kp LT,       RM1 RM2,         NAV    , COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(gt,    &kp GT,       RM2 RM3,         NAV    , COMBO_TERM_SLOW, COMBO_IDLE_FAST)

ZMK_COMBO(lbkt,  &kp LBKT,     RB1 RB2,     DEF     NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(rbkt,  &kp RBKT,     RB2 RB3,     DEF     NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(lbrc,  &kp LBRC,     RB1 RB2,         NAV    , COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(rbrc,  &kp RBRC,     RB2 RB3,         NAV    , COMBO_TERM_SLOW, COMBO_IDLE_FAST)

/* Vertical combos - left hand */
ZMK_COMBO(at,    &kp AT,       LT3 LM3,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(hash,  &kp HASH,     LT2 LM2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(dllr,  &kp DLLR,     LT1 LM1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(prcnt, &kp PRCNT,    LT0 LM0,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(grave, &kp GRAVE,    LM3 LB3,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(bslh,  &kp BSLH,     LM2 LB2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(equal, &kp EQUAL,    LM1 LB1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(tilde, &kp TILDE,    LM0 LB0,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

/* Vertical combos - right hand */
ZMK_COMBO(caret, &kp CARET,    RT0 RM0,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(plus,  &kp PLUS,     RT1 RM1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(star,  &kp STAR,     RT2 RM2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(amps,  &kp AMPS,     RT3 RM3,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(under, &kp UNDER,    RM0 RB0,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(minus, &kp MINUS,    RM1 RB1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(fslh,  &kp FSLH,     RM2 RB2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(pipe,  &kp PIPE,     RM3 RB3,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

/* Thumb combos LEFT*/
ZMK_COMBO(lt_1,    &kp LT,       LH2 LT3,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(gt_1,    &kp GT,       LH2 LT2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(bslh_1,  &kp BSLH,     LH2 LT1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(tilde_1, &kp TILDE,    LH2 LT0,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

ZMK_COMBO(excl_1,  &kp EXCL,     LH2 LM4,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(minus_1, &kp MINUS,    LH2 LM3,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(plus_1,  &kp PLUS,     LH2 LM2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(equal_1, &kp EQUAL,    LH2 LM1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(hash_1,  &kp HASH,     LH2 LM0,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

ZMK_COMBO(under_1, &kp UNDER,    LH2 LB3,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(star_1,  &kp STAR,     LH2 LB2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(caret_1, &kp CARET,    LH2 LB1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(fslh_1,  &kp FSLH,     LH2 LB0,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

/* Thumb combos LEFT*/
ZMK_COMBO(amps_1,  &kp AMPS,     RH2 RT0,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(lbkt_1,  &kp LBKT,     RH2 RT2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(rbkt_1,  &kp RBKT,     RH2 RT3,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

ZMK_COMBO(pipe_1,  &kp PIPE,     RH2 RM0,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(colon_1, &kp COLON,    RH2 RM1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(lpar_1,  &kp LPAR,     RH2 RM2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(rpar_1,  &kp RPAR,     RH2 RM3,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(prcnt_1, &kp PRCNT,    RH2 RM4,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

ZMK_COMBO(tilde_1, &kp TILDE,    RH2 RB0,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(dllr_1,  &kp DLLR,     RH2 RB1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(lbrc_1,  &kp LBRC,     RH2 RB2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(rbrc_1,  &kp RBRC,     RH2 RB3,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(at_1,    &kp AT,       RH2 RB4,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
