MACRO(mc_refresh,         &kp  LG(R))
MACRO(mc_close,           &kp  LG(W))
MACRO(mc_reopen,          &kp  LG(LS(T)))
MACRO(mc_new,             &kp  LG(T))
MACRO(mc_zoom_out,        &kp  LG(MINUS))
MACRO(mc_zoom_in,         &kp  LG(PLUS))
MACRO(mc_reset_zoom,      &kp  LG(N0))
MACRO(mc_find,            &kp  LG(F))
MACRO(mc_copy,            &kp  LG(C))
MACRO(mc_paste,           &kp  LG(V))

MACRO(mc_screen,          &kp  LG(LS(X)))
MACRO(mc_prev_zone,       &kp  LC(LEFT))
MACRO(mc_next_zone,       &kp  LC(RIGHT))
MACRO(mc_move_to_screen,  &kp  LC(LA(LG(LEFT))))

MACRO(mc_next_tab,        &kp  LC(TAB))
MACRO(mc_prev_tab,        &kp  LC(LS(TAB)))

// Linux variants (LC instead of LG for app shortcuts)
MACRO(mc_refresh_linux,    &kp LC(R))
MACRO(mc_close_linux,      &kp LC(W))
MACRO(mc_reopen_linux,     &kp LC(LS(T)))
MACRO(mc_new_linux,        &kp LC(T))
MACRO(mc_zoom_out_linux,   &kp LC(UNDER))
MACRO(mc_zoom_in_linux,    &kp LC(PLUS))
MACRO(mc_reset_zoom_linux, &kp LC(N0))
MACRO(mc_find_linux,       &kp LC(F))
MACRO(mc_copy_linux,       &kp LC(C))
MACRO(mc_paste_linux,      &kp LC(V))
