/* source key position labels */
#include "zmk-helpers/key-labels/totem.h"

#define X_LB  &kp ESC
#define X_RB  &kp ESC

/* activate bluetooth */
#define CONFIG_WIRELESS 1
#define TOTEM 1

/* source the main keymap */
#include "base.keymap"
